<div class="editNav">
  <%= link_to '&larr; all assignments'.html_safe, course_assignments_path(@course) %>
</div>

<div>
  <h4>
    Latest submissions <%= parens(@available_submissions.count) %> by user for<br/>
    <%= link_to (@assignment.name), edit_course_assignment_path(@course, @assignment) %>
  </h4>

  <div>
    <%= render @available_submissions %>
    <% if @available_submissions.count == 0 %>
      <p class="grey">No submissions have been made yet!</p>
    <% end %>
  </div>

</div>
