<form class="login-form">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <fieldset>

        <legend>Login</legend>

        <input type="text" name="username" placeholder="Username"/>

        <input type="password" name="password" placeholder="Password"/>

        <input type="submit" class="button" value="Login"/>

    </fieldset>
    
</form>