<div class="header-container">
  <div class="row">

    <div class="small-12 large-6 large-offset-3 columns login-form-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f| %>

        <fieldset>
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "large" %>
          <%= f.password_field :password, placeholder: "Password", class: "large" %>
          <%= f.submit "Login", class: "button success" %>

          <% if admin_user_signed_in? %>
            <p>Or, <%= link_to 'login with a user ID', become_path %> as an admin. </p>
          <% end %>

          <div class="center">
            <% if request.post? %>
              <%= link_to "Forgot password?",
                new_password_path(resource_name),
                class: "button success" %>
            <% end %>

            <%= link_to "Make your free #{Settings.instance.name} account!",
              new_registration_path(resource_name),
              class: "button expand" %>

            <h4>What is Grapefruit?</h4>

            <p>
              <%= link_to 'Learn more about Grapefruit',
                Settings.instance.info_url,
                class: "button small secondary",
                target: "_blank" %>
            </p>

            <%= render "devise/shared/links" %>
          </div>
        </fieldset>

      <% end %>
    </div>
  </div>
</div>
