<div class="about content">
  <h2>About</h2>
  <p>The Grapefruit project was created by the Grapefruit team at Rensselaer Polytechnic Institute in Troy, NY.</p>
  <p>Grapefruit receives financial support from the excellent Rensselaer Center for Open Source Software, <%= link_to 'RCOS', 'http://rcos.rpi.edu' %>,
  which is funded entirely by generous donations from people like you. RCOS receives incidental support and zero funding from the Institute.</p>
  <p>Grapefruit is open-source software and is released under the GPL License (version 3).
    Contributions are <%= link_to 'welcome', GITHUB_URL, :target => '_blank' %>.</p>
</div>
