<div class="about content">
  <h2>About</h2>
  <p>Grapefruit is an open-source LMS. Grapefruit Cloud is an inexpensive, convenient and secure hosting platform that allows students and instructors to access and edit content from anywhere. </p>
  <p>The open-source Grapefruit project received financial support from the excellent Rensselaer Center for Open Source Software, <%= link_to 'RCOS', 'http://rcos.rpi.edu' %>,
  which is funded entirely by generous donations from people like you. </p>
  <p>Grapefruit is released under the GPL License (version 3).
    Contributions are <%= link_to 'welcome', GITHUB_URL, :target => '_blank' %>.</p>
</div>
