<div class="content about-for">

  <h3>Grapefruit for Admins</h3>

  <p>
    Grapefruit is an awesome and intuitive open source learning management system (LMS).
    Your students and educators will love it!
  </p>

  <%= image_tag 'preview-admin.png', style: 'width:80%' %>

  <p>
    We're currently in the process of getting colleges and universities on-board with Grapefruit.
    If you think your students and teachers are ready for an awesome learning experience, let's talk!
    Email the Grapefruit team at <strong>rensselaergrapefruit at gmail dot com</strong>
    and we'll work with you to find the best solution for your institution.
  </p>


</div>
