<div class="changelog content">

  <h2>Changelog</h2>

  <p class="grey">The most recent versions can be found at our <%= link_to 'Github page', GITHUB_URL %>.</p>

  <hr/>

  <div>
    <h6>0.5.0 (this build) <span>December 29, 2014</span></h6>
    <p>
      This is the first build in which we are introducing semantic versioning to Grapefruit!
    </p>
    <p>
      We'll do our best to stick to the guidelines laid out at <%= link_to 'semver.org', 'http://semver.org' %>.
    </p>
  </div>

</div>
