<div class="contact content">

  <h2>Contact / Help</h2>

  <p>
    If you need help with a course or other academic activities, please get in touch with your professor or teaching assistant.
  </p>

  <p>
    For bug reports or help questions about the Grapefruit platform, please contact the Grapefruit team at <strong>rensselaergrapefruit at gmail dot com</strong>.
  </p>

  <p>
    For collaboration inquiries or other requests, please contact Graham Ramsey at <strong>g at graham dot li</strong>.
  </p>

</div>
