<div class="contact content">
  <h2>Contact</h2>
  <p>For help with participation in the Calculus Bridge program, academic coursework, or any questions relating to academics,
  contact Professor Bruce Piper at <strong>piperb</strong> at <strong>rpi dot edu</strong>.</p>
  <p>For assistance with technical problems, bug reports, connection issues, and questions <em>strictly limited to the web platform</em>, 
    email the Grapefruit team at <strong>rensselaergrapefruit</strong> at <strong>gmail dot com</strong>.</p>
</div>