<div class="contribute content">

  <h2>Contributing to Grapefruit</h2>

  <p>
    Contributions are always welcome! Visit our <%= link_to 'Github page', GITHUB_URL %> to learn more.
  </p>

  <p>If you are a part of (or represent) an academic institution or business and would like to explore collaboration or more
  formal contribution, please <%= link_to 'contact us', contact_url %>.</p>

</div>
