<div class="landing content">

  <p class="description">Grapefruit is an open-source initiative pioneered by RCOS to bring<br/> Rensselaer courses to your laptop, desktop, or phone.</p>

  <%= link_to "Login", new_user_session_path, class: "button large login" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "button large success" %>

</div>
