<div class="landing">

  <div class="login">

      <%= render file: "devise/sessions/new" %>

       <%= link_to 'Join Grapefruit!', new_user_registration_path, class: "button new-user" %>

  </div>

  <div class="description" style="background-image:url('<%= image_path('happykids.jpeg') %>');">

    <h2>Learn at Rensselaer. <br/> Everywhere.</h2>

    <p>
      Grapefruit is an open-source initiative pioneered by <%= link_to 'RCOS', 'http://rcos.rpi.edu', target: '_blank' %> to bring Rensselaer courses to your laptop, desktop, or phone<!-- the provost is a killjoy -->.
    </p>

  </div>

</div>