<div class="privacy content">

  <h3>Privacy Policy</h3>

  <p>We take individual privacy <em>extremely</em> seriously, both in the open source Grapefruit project
    and the Grapefruit Orchard platform.</p>

  <h4>Who owns the data?</h4>

  <p>
    You do. If you create a course on Grapefruit, you have the right to edit or delete data within it at any time.
    If you experience any problems regarding this, please contact us immediately. If you agree to have us backup your data,
    you understand that it may take a few days to delete all copies of your backups.
  </p>

  <h4>Do you share personal information?</h4>

  <p>
    Absolutely not. We do not share, sell, or distribute in any way personal information from the
    Grapefruit platform, including but not limited to email addresses or profile information.
  </p>

  <h4>Who has access to course data?</h4>

  <p>
    While you store course data on Grapefruit cloud, you own it - however, for the system to work, your students need to have access to it!
    While data is stored, your students can access documents, videos, and other content from the course website. Keep in mind that, as with any
    other website, if a user downloads content after you have posted it, they may attempt to distribute it without your permission.
  </p>

  <p>Be aware that by default, YouTube uploads on Grapefruit are set to unlisted - which means that anyone who has the link can
    view the video. Because of this, videos do not show up in search results. However, this does mean that (as with any website or content
    system) your students may store your content without your control.
  </p>

  <h4>Feedback</h4>

  <p>This privacy policy was personally written by Graham Ramsey. Please contact
    <%= help_email %> with any
    concerns, questions, or suggestions.</p>

</div>
