<div class="content about-for">

  <h3>Grapefruit for Students</h3>

  <p>
    We think Grapefruit is the most awesome way for students to work with their courses online!
  </p>

  <p>
    Grapefruit was originally created by students: we know how annoying it is to work with proprietary systems that
    are confusing, hard to use, and crash regularly. We're trying to change that with the Grapefruit project.
  </p>

  <%= image_tag 'preview-student.png', style: 'width: 80%' %>

  <p>
    If you think using Grapefruit would be awesome, tell your instructors! Better yet, email us at
    <strong>rensselaergrapefruit at gmail dot com</strong> and we can help get things rolling.
  </p>

</div>
