<% page_title @problem_set.name %>

<%= breadcrumbs([
      link_to('All Courses', courses_path),
      link_to(@course.name, course_path(@course)),
      link_to(@capsule.name, course_capsule_path(@course, @capsule)),
      link_to("#{@problem_set.name}", void, class: "current")
    ]) %>

<h2><%= @problem_set.name %></h2>

<% if course.edited_by?(current_user) %>
<%= link_to "Edit Problem Set", edit_course_capsule_problem_set_path(@course, @capsule, @problem_set), class: "button small" %>
<% end %>

<p>Some ridiculously hard problems here...</p>
