<%= link_to '&#9664; assignment list'.html_safe,
course_assignments_path(@course),
class: "button coal small" %>

<h4 class="under-back-button">Assignment Types</h4>
<p class="grey">Example: Test, Chapter Homework, Quiz, etc.</p>

<%= react_component('AssignmentTypesContainer', {current_types: @current_types}) %>
