<%= link_to '&#9664; Assignment List'.html_safe,
  course_assignments_path(@course),
  class: "button small secondary" %>

<h4 class="under-back-button">Assignment Types</h4>

<%= react_component('AssignmentTypesContainer', {current_types: @current_types}) %>
