<h3>Course Assignments</h3>

<div>
  <%= link_to 'Create New Assignment',
    new_course_assignment_path(@course),
    class: "button small" %>
  <%= link_to 'Manage Assignment Types',
    course_assignment_types_path(@course),
    class: "button small secondary" %>
</div>

<div>
	<%= render @assignments %>
</div>