<% page_title "Creating New Assignment" %>

<div class="landing">

  <%= link_to '&#9664; Cancel to Assignment List'.html_safe,
    course_assignments_path(@course),
    class: "button small secondary" %>

  <div class="description">
    <h4>New Assignment in <%= @course.name %></h4>
  </div>

  <%= render 'assignments/form' %>

</div>
