<div class="editNav">
	<%= link_to '&larr; back to assignment list'.html_safe, course_assignments_path(@course) %>
</div>

<br/><br/>

<h4><%= @assignment.name %> - <%= @assignment.points %> points</h4>

<p class="grey">
	<%= @assignment.assignment_type.name %> created
	<%= @assignment.created_at.strftime('%B %e at %l:%M %p') %>
  <% if @assignment.updated_at != @assignment.created_at %>,
		updated <%= time_ago_in_words(@assignment.updated_at) %> ago
	<% end %>
	in <%= link_to @course.name, course_path(@course) %>
</p>

<% unless @assignment.due_day.blank? %>
  <p>
    <strong><%= due_in_words(@assignment) %></strong>,

		<%= @assignment.true_due_time.strftime(DATE_FORMAT_DAY) %> at 11:59 p.m.

  </p>
<% end %>

<p class="large pre"><%= @assignment.description %></p>

<p>
	<%= render 'documents/documents', container: @assignment, documents: @assignment.documents %>
</p>

<% unless @course.instructor == current_user %>

	<div>
		<%= link_to 'Upload Submission for Assignment',
			new_course_assignment_submission_path(@course, @assignment),
			class: "button small" %>
		<br/><br/>

		<% if @grade %>
			<div>
				<h6>Your Grade</h6>
				<h4 class="grade-coloring-<%= @grade.percentage %>"><%= @grade.points %> points (<%= @grade.percentage %>%)</h4>
				<p class="grey"><%= @grade.comments %></p>
				<%= render 'documents/documents', container: @grade, documents: @grade.documents %>
			</div>
		<% end %>

		<div>
			<h6>Your Submissions <%= parens(@submissions.count) %></h6>

			<p class="grey">
				You can submit as many submissions for an assignment as you would like!
				Whichever submission that was uploaded the latest will be counted for grading.
			</p>


			<%= render @submissions %>

			<% if @submissions.blank? %>
				<p class="grey">You have not submitted a response to this assignment.</p>
			<% end %>
		</div>

	</div>

<% end %>
