<li>
  <% if lecture == @lecture %>
    <strong> <%= @lecture.lecture_number %>. <%= @lecture.name %></strong>
  <% else %>
    <%= link_to "#{lecture.lecture_number}. #{lecture.name}", [lecture.capsule.course, lecture.capsule, lecture] %>
  <% end %>
</li>
