<li>
  <% if lecture == @lecture %>
    <strong><%= @lecture.name %> &rsaquo;</strong>
  <% else %>
    <%= link_to lecture.name, [lecture.capsule.course, lecture.capsule, lecture] %>
  <% end %>
</li>
