<li class="capsule-item" data-lecture-id="<%= lecture.id %>">
  <!--<span class="item-status icon-tick done"></span>--> <!--- Need logic here to switch icons based on completion -->
    <%= link_to "#{lecture.lecture_number}. #{lecture.name}", [lecture.capsule.course, lecture.capsule, lecture],
    class:"item-name" %>
</li>
