<% if capsule.id %>

	<li>
		<% if @capsule == capsule && @lecture.blank? %>
			<span><%= capsule.name %> &rsaquo; </span>
		<% else %>
			<%= link_to capsule.name, course_capsule_path(capsule.course, capsule),
				class: (@capsule == capsule) ? 'active' : '' %>
		<% end %>
	</li>

	<% if @capsule == capsule %>

		<% if @capsule.lectures.empty? %>

			<ul><li class="grey">No lectures found!</li>
			</ul>
		<% else %>

			<ul>
				<%= render @capsule.lectures %>
			</ul>

		<% end %>

	<% end %>

<% end %>
