<% if object.errors.any? %>
  <div class="panel error radius">
    <div id="error-explanation">
      <strong>
        Oops, check <%= (form_error_count(object) > 1) ? "these" : "this" %>
          <%= pluralize(form_error_count(object), "thing") %> first:
      </strong>
      <br/>
      <% object.errors.full_unique_messages.each do |message| %>
        <%= message %>.<br/>
      <% end %>
    </div>
  </div>
<% end %>