<div class="page-header-container">
  <div class="page-header">
    <div class="page-header-full">
      <h2 class="title">Welcome <%= current_user.display_identifier %>!</h2>
      <!-- if @course.description.empty? -->
      <% if can? :manage_admins, User %>
        <p class="description">You have administrator permissions. Manage your courses and profile using the links in the upper right hand corner.</p>
      <% else %>
        <p class="description">This is your personal dashboard where you can manage your courses and profile.</p>
      <% end %>
      <!-- endif -->
    </div>
  </div>
</div>

<section>
  <div class="page-header">
    <h3 class="page-header-title">Enrolled</h3>

  <% if @enrolled_courses.empty? %>
    <h5 class="light">There are no courses listed.</h5>
    </div>
  <% else %>
    </div>
    <%= render @enrolled_courses %>
  <% end %>

</section>

<% if @instructed_courses.empty? %>
<% else %>
  <section>
    <div class="page-header">
      <h3 class="page-header-title">Courses You Instruct</h3>
    <% if @instructed_courses.empty? %>
      <h5 class="light">There are no courses listed.</h5>
      </div>
    <% else %>
    </div>
      <%= render @instructed_courses %>
    <% end %>

  </section>
<% end %>
