<div class="page-header-container">
  <div class="page-header">
    <div class="page-header-full">
      <h2 class="title">Welcome <%= current_user.display_identifier %>!</h2>
    </div>
  </div>
</div>

<% unless @instructed_courses.empty? %>
  <section>
      <h3>Courses You Instruct</h3>
      <%= render @instructed_courses %>
  </section>
  <br/>
  <br/>
<% end %>

<section>
  <div class="page-header">
    <h3 class="page-header-title">Courses You're Taking</h3>

  <% if @enrolled_courses.empty? %>
    <h5 class="light">You are not enrolled in any courses.</h5>
    </div>
  <% else %>
    </div>
    <%= render @enrolled_courses %>
  <% end %>

</section>
