<tr>
  <td>
    <%= link_to document[:file], document.file.url %>
  </td>
  <td>
    <%= document.description %>
  </td>
  <% if can? :delete, document %>
    <td>
      <%= link_to 'Delete', [@course, document], :method => :delete %>
    </td>
  <% end %>
</tr>