<%
  # Optional local variables that can be passed in
  table_class ||= "listing"
  documents ||= @documents
%>

<% if documents.present? %>
  <table class="<%= table_class %>">
    <thead>
      <th width="50%">File</th>
      <th width="25%" class="center">Type</th>
      <% if can? :manage, container %>
        <th width="25%" class="center">Actions</th>
      <% end %>
    </thead>
    <tbody>
      <%= render documents %>
    </tbody>
  </table>
<% elsif container.instance_of?(Assignment) %>
  <p class="grey">No documents found.</p>
<% end %>
