<div class="page-header-container">
  <div class="page-header">
    <div class="page-header-left">
      <h1 class="title">Courses</h1>
      <!-- if @course.description.empty? -->
        <p class="description">See all course offerings at { school.name } </p>
      <!-- endif -->
    </div>
    <div class="page-header-right">
      <!-- if @user.is_admin? -->
      <ul class="actions">
        <li>Search</li>
        <li>Enroll</li>
        <li>Grid View</li>
      </ul>
      <!-- endif -->
    </div>
  </div>
</div>


<div class="row">
  <div class="page-header">
    <h3 class="page-header-title">Enrolled</h3>    
  <% if @enrolled_courses.empty? %>
    <h5 class="light">You are not enrolled in any courses.</h5>
  </div>
  <% else %>
  </div>
    <%= render @enrolled_courses %>
  <% end %>
  <hr>
</div>

<div class="row">
  <div class="page-header">
    <h3 class="page-header-title">Courses You Instruct</h3>    
  </div>
  <% unless @instructed_courses.blank? %>
    <%= render @instructed_courses %>
  <% end %>
  <hr>
</div>


<div class="row">
  <div class="page-header">
    <h3 class="page-header-title">Courses Offered</h3>
  </div>

  <% if @courses.empty? %>
    <h5 class="light">There are no courses listed.</h5>
  <% else %>
    <%= render @courses %>
  <% end %>

</div>
