<div class="page-header-container">
  <div class="page-header">
    <div class="page-header-left">
      <h2 class="title">Courses (<%= @courses.count %>)</h2>
      <!-- if @course.description.empty? -->
        <p class="description">See all course offerings. </p>
      <!-- endif -->
    </div>
    <div class="page-header-right">
      <ul class="course-actions">
        <% if can? :create, Course %>
          <li><%= link_to 'Create New Course', new_course_path, class: 'button small' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<section>

  <% if @courses.empty? %>
    <div class="page-header">
      <h5 class="light">There are no courses listed.</h5>
    </div>
  <% else %>
    <%= render @courses %>
  <% end %>

</section>
