<div class="page-header-container">
  <div class="page-header">
    <div class="page-header-left">
      <h2 class="title">Courses</h2>
      <!-- if @course.description.empty? -->
        <p class="description">See all course offerings at <%= SCHOOL_NAME %> </p>
      <!-- endif -->
    </div>
    <div class="page-header-right">
      <!-- if @user.is_admin? -->
      <ul class="course-actions">
        <li><a href="">Search</a></li>
        <li><a href="">Enroll</a></li>
        <li><a href="">Grid View</a></li>
      </ul>
      <!-- endif -->
    </div>
  </div>
</div>

<section>
  <div class="page-header">
    <h3 class="page-header-title">Enrolled</h3>
  <% if @enrolled_courses.empty? %>
    <h5 class="light">You are not enrolled in any courses.</h5>
  </div>
  <% else %>
  </div>
    <%= render @enrolled_courses %>
  <% end %>
  <hr>
</section>

<% unless @instructed_courses.blank? %>
  <section>
    <div class="page-header">
      <h3 class="page-header-title">Courses You Instruct</h3>
    </div>
      <%= render @instructed_courses %>
    <hr>
  </section>
<% end %>

<section>
  <div class="page-header">
    <h3 class="page-header-title">Courses Offered</h3>
  </div>

  <% if @courses.empty? %>
    <h5 class="light">There are no courses listed.</h5>
  <% else %>
    <%= render @courses %>
  <% end %>

</section>
