<% page_title "Creating New Course" %>

<div class="page-header-container">
  <div class="page-header">
    <div class="page-header-left">
      <h3 class="title">Create New Course</h3>
    </div>
  </div>
</div>

<section>

    <h3>Create New Course</h3>

  <div class="login">
    <%= form_for @course do |f| %>
      <% render "forms", f: f %>
    <% end %>
  </div>

</section>
