<% page_title "Creating New Course" %>

<%= breadcrumbs([
      link_to('All Courses', courses_path),
      link_to('Create New Course', void, class: "current")
    ]) %>

<div class="landing">
  
  <div class="description">
    <h3>Create New Course</h3>
  </div>

  <div class="login">
    <%= form_for @course do |f| %>
      <% render "forms", f: f %>
    <% end %>
  </div>

</div>