<% page_title @course.name %>

<% if current_user != @course.instructor %>
  <div>

    <% if @course.students.include?(current_user) %>

      <%= form_for [@course, @course_user], html: {method: "delete"} do |f| %>
        <%= f.hidden_field :course_id, value: @course.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Unenroll from this course", class: "button secondary small" %>
      <% end %>

    <% end %>

    <% if !@course.students.include?(current_user) && @course.instructor != current_user %>
      <%= form_for [@course, @course_user] do |f| %>
        <%= f.hidden_field :course_id, value: @course.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Enroll", class: "button small" %>
      <% end %>
    <% end %>

  </div>
<% end %>

<% unless @course.announcements.blank? %>
  <p class="announcement">
    <strong><%= @course.announcements.last.title %></strong>
    <br>
    <span><%= @course.announcements.last.content %></span>
    <br>
    <%= link_to "View All Announcements", course_announcements_path(@course) %>
  </p>
<% end %>

<div class="panel callout radius hidden">
  <p>Welcome! Grapefruit courses have <em>Capsules</em> (like units, or chapters in a textbook) which are then divided into <em>Lectures</em>.</p>
  <p>On the left sidebar, you'll see an expandable list of the capsules in this course, along with the lectures they contain.
  While progressing through lectures, you can always go back and view previous content.</p>
  <p>If this is a Calculus Bridge course, you'll see a link to a Pearson problem set in lectures that include them.</p>
</div>

<%= link_to_textbook_problem_sets(@course) %>

<p>
  <% if @course.instructor_label.present? %>
    <strong>
      <%= @course.instructor_label %>
    </strong>
  <% else %>
    Instructed by <strong><%= @course.instructor.name %></strong> (<%= mail_to @course.instructor.email %>)
  <% end %>
</p>

<p class="description"><%= @course.description %></p>

<%= render "documents/documents", container: @course %>

<table class="listing">
  <thead>
    <th>Recent Discussion (<%= link_to "view all", course_topics_path(@course) %>)</th>
  </thead>
  <tbody>
    <%= render @topics %>
    <% if @topics.empty? %>
      <tr>
        <td>
          <span>No topics found.</span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
