<h3>Stats for <%= @course.name %> </h3>

<p>There are <%= @capsules.count %> capsules and <%= @course.lectures.count %> lectures in total.</p>

<p>There are currently <%= @course.students.count %> students enrolled.</p>

<p class="grey">Coming soon: View statistics for pages, student usage data, and more!</p>