 <footer class="row">
  <div class="small-12 columns">
    <div class="school-logo">

    </div>
    <div class="project-description">
      <nav class="horizontal">
        <ul class="nav-links">
          <li><%= link_to 'About', about_url %></li>
          <li><%= link_to 'Contact', contact_url %></li>
          <li><%= link_to 'Contribute', contribute_url %></li>
          <li><%= link_to 'Changelog', CHANGELOG_URL, target: "_blank" %></li>
          <li><%= link_to 'Privacy Policy', privacy_url %></li>
        </ul>
      </nav>

      <p class="platform">
        Grapefruit version <%= GRAPEFRUIT_VERSION_MAJOR %>.<%= GRAPEFRUIT_VERSION_MINOR %>.<%= GRAPEFRUIT_VERSION_PATCH %>+<%= GRAPEFRUIT_BUILD %>
        @<%= Settings.instance.name %>
      </p>

    </div>
  </div>
</footer>
