section.course h4.under-back-button{
  margin-top: 0em;
}

button{
  @extend .button;
}
span.assignment-controls{
  display:inline-block;
  margin-left: .5em;
}

div.assignment-form-container{
  width: 75%;
}

section > div {
  padding-left: 0em;
}
div[data-react-class="AssignmentTypesContainer"]{
  width: 80%;
}

table.assignmentTypeList{
  background-color: #eee;
  border-radius: 5px;
  padding: .5em;
  width: 100%;
  border-collapse: collapse;
  th{
    text-align: left;
  }
  td.empty-row{
    background-color: #fff;
    @extend .grey;
    text-align: center;
  }
  td{
    button{
      margin-right: .5em;
      border: 1px solid transparent;
    }
    button.secondary{
      background-color: #fff;
      border: 1px solid #ccc;
    }
  }
  tr.editing, tr.editing td{
    background-color: #ddd;
  }
}

select{
  -webkit-appearance: menulist-button;
}

div.assignmentList{
  h4{
    font-weight: 400;
  }
  > div {
    h3{
      display: inline-block;
      margin-right: .5em;
    }
    span.description{
      font-style: italic;
      @extend .grey;
    }
  }
}

div.editNav{
  margin-bottom: 1em;
  font-weight: 600;
}

div.multipleDocs{
  margin-bottom: .5em;
}
