span.instructing{
  @include label();
}

.page-header-right {
	text-align: right;
}

.course-details {
	display: inline-block;
	li {
		display: inline-block;
		padding-right: 1rem;
		color: white;
	}
	h6 {
		font-weight: lighter;
		color: rgba(255, 255, 255, 0.8);
		text-transform: uppercase;
		font-size: 0.25rem;
		letter-spacing: 1px;
	}

}

.course-actions {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	line-height: 2rem;
	margin-top: 0.3rem;
	li {display: inline-block;}
	li a {
		@extend .stateful-button--inactive;
	}
}

.course-card {
    @include grid-column(4);
    margin-bottom: 1rem;
    margin-top: 1rem;
    .course-card-image {
        border-radius: 4px;
    }
    .course-card-name {
        margin-top: 1rem;
    }
    .course-card-details {
        list-style: none;
        border-radius: 5px;
        background-color: #F6F6F6;
        border: 1px solid #DCDCDC;
        padding: 0.2rem 0.8rem;
        opacity: 0.8;
        li {
            display: inline-block;
            width: 32%;
            text-align: center;
            font-weight: bold;
            font-size: 0.8rem;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
}


section.course {
    @include grid-row();
    position: relative;
    background-color: #FFF;
    margin-bottom: 4rem;
    aside {
        @include grid-column(3);
        background-color: #F7F7F7;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-right: none;
        padding: 0;
        position: absolute;
        width: 20%;
        left: -20%;
    }
    .workplace {
        @include grid-column(12);
        min-height: 25rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 1rem;
    }
}

.course-accordion {
    list-style: none;
    margin: 0;
    ul {
        list-style: none;
        margin: 0;
    }
    li {
        font-weight: lighter;
        background-color: #fff;
        padding: 1rem 0;
        cursor: pointer;
        border-bottom: 1px solid #F5F5F5;
        &:last-child {border-bottom: 0;}
    }
    .sectionNumber {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 1px solid #cfcfcf;
        display: inline-block;
        text-align: center;
        margin-right: 0.5rem;
        @extend .light;
        color: #B4B4B4;
        line-height: 18px;
        text-shadow: none;
    }
    & > li {
        font-weight: bold;
        background-color: #F7F7F7;
        height: 2.5rem;
        overflow: hidden;
        padding: 0;
        &.active {
            height: auto;
            background-color: #E9E9E9;
            .sectionNumber {
                background-color: #141414;
                border: none;
                color: white;
                line-height: 20px;
            }
        }
    }
    h1 {
        margin-left: 1rem;
        font-size: 1rem;
        margin-bottom: 0;
        padding: 0.5rem 0;
        text-shadow: #FFF 1px 0px 0px;
    }
    h2 {
        @extend .normal;
        margin: 0 0 0 1.3rem;
        font-size: 0.9rem;
        color: #5890AA;
    }

   
}