span.instructing{
  @include label();
}

.page-header-right {
	text-align: right;
}

.course-details {
	display: inline-block;
	li {
		display: inline-block;
		padding-right: 1rem;
		color: white;
	}
	h6 {
		font-weight: lighter;
		color: rgba(255, 255, 255, 0.8);
		text-transform: uppercase;
		font-size: 0.25rem;
		letter-spacing: 1px;
	}

}

.course-actions {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	line-height: 2rem;
	margin-top: 0.3rem;
  margin-bottom: 0em;
	li {display: inline-block;}
	li a {
		@extend .stateful-button--inactive;
	}
}

.course-card {
    @include grid-column(4);
    margin-bottom: 1rem;
    margin-top: 1rem;
    .course-card-image {
        border-radius: 4px;
    }
    .course-card-name {
        margin-top: 1rem;
    }
    .course-card-details {
        list-style: none;
        border-radius: 5px;
        background-color: #F6F6F6;
        border: 1px solid #DCDCDC;
        padding: 0.2rem 0.8rem;
        opacity: 0.8;
        li {
            display: inline-block;
            width: 32%;
            text-align: center;
            font-weight: bold;
            font-size: 0.8rem;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
}


section.course {
    @include grid-row();
    position: relative;
    background-color: #FFF;
    margin-bottom: 4rem;
    aside {
        @include grid-column(3);
        background-color: #F7F7F7;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-right: none;
        padding: 0;
        position: absolute;
        width: 20%;
        left: -20%;
    }
    .workplace {
        @include grid-column(12);
        min-height: 25rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 1rem;
        p.description{
          color: $grey-text-color;
        }
    }
}

.course-accordion {
    list-style: none;
    margin-bottom: 0;
    a{
      color: #ccc;
      &:hover{
        color: #fff;
      }
    }
}

.course-capsule {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 2.5rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    .capsule-name {
        @include grid-column(8);
        @extend .normal;
        font-size: 0.8rem;
        color: #777777;
    }
    .capsule-header {
        @include grid-row($behavior: collapse);
        padding: 0.5rem 0;
        &:hover {
            cursor: pointer;
        }
        .capsule-status {
            margin-right: 0.5rem;
            font-size: 1rem;
            float: left;
        }
        .capsule-nav {
            @include grid-column(4);
            padding-left: 0;
            text-align: right;
            margin-left: 0;
            display: none;
            li {
                display: inline-block;
                margin-left: 0.1rem;
                opacity: 0.5;
                transition: opacity 200ms;
                &:hover {opacity: 1;}
                &.active {opacity: 1;}
                &:first-child {margin-left: 0;}
            }
        }
    }
    &.active {
        height: auto;
        .capsule-nav { display: inline-block; }
        .capsule-name {
            color: black;
            @extend .bold;
        }
    }
}


.capsule-contents {
    overflow: hidden;
    margin-left: 0;
    background-color: #45535A;
    list-style: none;
    width: 100%;
    padding: 1rem;
    padding-top: 0.5rem;
    border-top: 3px solid black;
    margin-bottom: -7px;
    display: inline-block;
    margin-right: -3px;
    vertical-align: top;
    .item-status {
        margin-right: 0.5rem;
        opacity: 0;
    }
}

span[class*="status"] {
    opacity: 0;
    &.done {
        opacity: 1;
        color: #76C582;            
    }
    &.in-progress {
        opacity: 1;
        color: #E6A44D;   
    }

}


.capsule-item {
    margin: 0.3rem 0;
    .capsule-item-empty {
        text-align: center;
        @extend .light;
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.8rem;
        white-space: normal;
    }
    .item-status {}
    .item-name, a {
        font-size: 0.8rem;
        vertical-align: middle;
        margin-top: 0;
        @extend .normal;
        display: inline-block;
        color: #97A3A9;
        white-space: normal;
        max-width: 85%;
        line-height: 1rem;
    }
    &.active {
        .item-name {
            color: white;
            @extend .bold;            
        }
    }
    &.done{
        .item-status {
            opacity: 1;
            color: #76C582;            
        }
    }
    &.in-progress{
        .item-status {
            opacity: 1;
            color: #E6A44D;            
        }
        .item-name {
            color: white;
            @extend .bold;
        }
    }
}
