span.instructing{
  @include label();
}


.course-details {
	display: inline-block;
	li {
		display: inline-block;
		padding-right: 1rem;
		color: white;
	}
	h6 {
		font-weight: lighter;
		color: rgba(255, 255, 255, 0.8);
		text-transform: uppercase;
		font-size: .6em;
		letter-spacing: 1px;
	}

}

.course-actions {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	line-height: 2rem;
	margin-top: 0.3rem;
    margin-bottom: 0em;
	li {display: inline-block;}
	li a {
		@extend .stateful-button--inactive;
	}
    li a.bold{
        font-weight: bold;
    }
}

.course-card {
    @include grid-column(4, $collapse: true);
    padding: 0em 1em;
    position: relative;
    .course-card-name {
        margin-top: 1rem;
    }
    .course-card-description{
      min-height: 5em;
      color: $grey-text-color;
    }
    .course-card-details {
        list-style: none;
        border-radius: 5px;
        background-color: #F6F6F6;
        border: 1px solid #DCDCDC;
        padding: 0.2rem 0.8rem;
        opacity: 0.8;
        li {
            display: inline-block;
            width: 32%;
            text-align: center;
            font-weight: bold;
            font-size: 0.8rem;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
    .course-anchor {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; left: 0; right: 0; bottom: 0;
        opacity: 0;
        border-radius: .5em;
        &:hover{
          opacity: .2;
          background-color: #ccc;
        }
    }

    @media #{$medium} {@include grid-column(6);}
    @media #{$small} {@include grid-column(12);}


}

div.instructor-edit-notify{
  @include panel($padding: .5em);
  text-align: center;
}

section.course {
    @include grid-row();
    position: relative;
    background-color: #FFF;
    margin-bottom: 4rem;
    aside {
        @include grid-column(3);
        background-color: #F7F7F7;
        //border: 1px solid rgba(0, 0, 0, 0.1);
        border-right: none;
        padding: 0;
        position: absolute;
        width: 20%;
        left: -20%;
        @media #{$full} {
            position: relative;
            left: 0;
        }
        @media #{$medium} {display: none;}
        a.back{
            border-radius: 0em;
            width:100%;
            border:0px;
            margin:0px;
        }
    }
    .workplace {
        @include grid-column(12);
        min-height: 25rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 1rem;
        @media #{$full} {@include grid-column(9);}
        @media #{$medium} {@include grid-column(12);}
        p.description{
          color: $grey-text-color;
          white-space: pre-wrap;
        }
        h2, h3{
          margin-top: 0em;
          sup{
            font-size: .5em;
            color: $rpi-red-color;
          }
        }
    }
}

.course-accordion {
    list-style: none;
    margin-bottom: 0;
    a{
      color: #ccc;
      &:hover{
        color: #fff;
      }
    }
}




.course-capsule {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 2.5rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    .capsule-name {
        @include grid-column(8);
        @extend .normal;
        font-size: 0.8rem;
        color: #777777;

    }
    .capsule-header {
        @include grid-row($behavior: collapse);
        padding: 0.5rem 0;
        display: block;
        color: inherit;
        &:hover {
            cursor: pointer;
            color: inherit;
        }
        .capsule-status {
            margin-right: 0.5rem;
            font-size: 1rem;
            float: left;
        }
        .capsule-nav {
            @include grid-column(4, $last-column: true);
            float: right;
            padding-left: 0;
            text-align: right;
            margin-left: 0;
            display: none;

            li {
                display: inline-block;
                margin-left: 0.1rem;
                opacity: 0.5;
                transition: opacity 200ms;
                &:hover {opacity: 1;}
                &.active {opacity: 1;}
                &:first-child {margin-left: 0;}
            }
        }
    }
    &.active {
        height: auto;
        .capsule-nav { display: inline-block; }
        .capsule-name {
            color: black;
            @extend .bold;
            &.long:hover {
                &:after {content: '';}
                -webkit-animation: marquee 10s linear infinite;
            }
        }
    }
}

@-webkit-keyframes marquee {
    0%   { text-indent: 0%; }
    55%  { text-indent: -90%; opacity: 1; }
    56%  { text-indent: -90%; opacity: 0; }
    67%  { text-indent: 50%; opacity: 0;}
    68%  { opacity: 1; }
    100% { text-indent: 0%; }
}



.capsule-contents {
    overflow: hidden;
    margin-left: 0;
    background-color: #45535A;
    list-style: none;
    width: 100%;
    padding: 1rem;
    padding-top: 0.5rem;
    border-top: 3px solid black;
    margin-bottom: -7px;
    display: inline-block;
    margin-right: -3px;
    vertical-align: top;
    .item-status {
        margin-right: 0.5rem;
        opacity: 0;
    }
}

span[class*="status"] {
    opacity: 0;
    &.done {
        opacity: 1;
        color: #76C582;
    }
    &.in-progress {
        opacity: 1;
        color: #E6A44D;
    }

}


.capsule-item {
    margin: 0.3rem 0;
    .capsule-item-empty {
        text-align: center;
        @extend .light;
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.8rem;
        white-space: normal;
    }
    .item-status {}
    .item-name, a {
        font-size: 0.8rem;
        vertical-align: middle;
        margin-top: 0;
        @extend .normal;
        display: inline-block;
        color: #97A3A9;
        white-space: normal;
        max-width: 85%;
        line-height: 1rem;
    }
    &.active {
        .item-name {
            color: white;
            @extend .bold;
        }
    }
    &.done{
        .item-status {
            opacity: 1;
            color: #76C582;
        }
    }
    &.in-progress{
        .item-status {
            opacity: 1;
            color: #E6A44D;
        }
        .item-name {
            color: white;
            @extend .bold;
        }
    }
}


.course-accordion--mobile {
    min-height: 150%;
    .course-capsule {
        height: 3.3rem;
    }
    .capsule-name {
        font-size: 1.2rem;
    }
    .capsule-item {
        margin: 1rem 0;
    }
    .item-status {
        font-size: 1.3rem;
        vertical-align: middle;
        line-height: 1.1rem;
    }
    .item-name {
        font-size: 1.1rem;
    }
    .capsule-nav li {
        font-size: 1.3rem;
        padding: 0 0.5rem;
    }
    .capsule-item-empty {
        font-size: 1.5rem;
    }
}

.announcement
{
    @include alert(lighten($grapefruit-orange-color, 10%));
    a{
        color: white;
        text-decoration: underline;
        font-weight: bold;
    }
    span.expandable-text{
        font-weight: normal;
    }
}

div.manage{
    @include grid-column(12);
    div.capsule-container{
        padding-top: .5em;
        border-top: 1px solid #ddd;
    }
    div.capsule-container:last-of-type{
        border-bottom: 1px solid #ddd;
    }
    div.lecture-container{
        margin-left: .5em;
        background-color: #eee;
        padding: .5em 1em;
        border-radius: .5em;
        margin-bottom: .5em;
    }
    div.lecture-videos{
        margin-left: 30px;
    }
    a.add{
        display:inline-block;
        margin-left: .3em;
    }
    a.add.alert{
        &:link, &:visited{
            color: $grapefruit-orange-color;
        }
        &:hover{
            color: darken($grapefruit-orange-color, 10%);
        }
    }
    a.add.secondary{
        &:link, &:visited{
            color: #777;
        }
        &:hover{
            color: #999;
        }
    }
    a.add.secondary.revealing{
        background-color: transparent;
        color: #444;
    }
    p{
        a.add{
            font-weight: bold;
        }
        span.space{
            display: inline-block;
            width:1em;
        }
    }
    a.secondary.revealing{
        background-color: #555;
        color: #fff;
    }
    table.listing{
        th{
            background-color: #777;
            color: #fff;
        }
    }
}

ul.course-capsule-list{
  list-style-type: none;
  ul, li{
    display: block;
  }
  > ul{ // lecture lists
    margin-bottom: 0em;
  }
  > li { // capsule names
    padding: .5em .2em 0em 1em;
    a.active{
      font-weight: bold;
    }
  }
  > ul > li { // lecture name
    font-size: .85em;
    padding-left: 2em;
  }
}
