div#top-flash{
    text-align: center;
    background-color: orange;
    div.alert-box{
        margin-bottom: 0px;
    }
}
div.main-content{
    @include grid-row;
}

/**
    forms
**/
form{
    legend{
        font-size: 1.5em;
    }
}
div.alert-box{
    @include alert($alert-color);
}
div#error_explanation{
    @include alert($alert-color);
    h2{
        font-size: 1em;
        color: #eee;
    }
}

/**
    buttons
**/
.button{
    box-shadow: none;
    transition: none;
}

/**
    elements
**/
.custom-hr {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5em;
}

/**
    videos
**/
.video-wrapper {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.video-texts {
    margin: 0 auto;
    li {
        display: none;
        font-size: .8em;
        text-align: justify;
        list-style: none;
        margin: 0 0 20px 0;
        padding: 0;
        &.show{
            display: block;
        }
    }
    ul {
        margin: 0;
        padding: 0;
    }
}
.video-title {
    text-transform: uppercase;
    color: #555;
    .video-button {
        padding-left: 20px;
        color: #888;
        &:hover {
            color: #D61D05;
        }
    }
}

/**
  footer
**/
footer{
    background-color: #fff;
    padding-top: 1em;
    color: lighten($body-font-color, 30%);
    text-align: center;

    div.school-logo{
        background-color: darken(adjust-saturation($rpi-red-color, -50%), 10%);
        padding: .5em 0em;
    }

    p.under-school-logo{
        background-color: $body-bg;
        padding-top: .8em;
    }

}