/**** Utility Classes ****/
/*********
Use with extends instead of in the markup directly when possible
.thingIWantToBold {@extend .bold;}
*********/

.large {font-size: 120%;}
.small {font-size: 60%;}
.white {color: white !important;}
.black {color: #2d324e !important;}
.nobottommargin {margin-bottom: 0 !important;}
.spacer {min-height: 5rem;}
.center {text-align: center;}
.light {font-weight: 100;}
.bold {font-weight: 500;}
.normal {font-weight: normal;}
.upper {text-transform: uppercase;}

/***************************/


body {background-color: #FFF;}

div#top-flash{
    text-align: center;
    background-color: orange;
    div.alert-box{
        margin-bottom: 0px;
    }
}

.top-bar-container{
  background-color: $topbar-bg-color;
  position: fixed;
  width: 100%;
  z-index: 9999;
  div.top-bar{
    height: auto;
    margin-bottom: 0px;
    background-color: transparent;
    @include grid-row;
    ul > li.has-dropdown a::after { /* this should be a configurable variable */
      border-color: lighten($topbar-dropdown-link-color, 20%) transparent transparent transparent;
    }

    ul.right li{
      a.secondary{
        color: darken($grapefruit-orange-color, 20%);
      }
      a.active{
        background-color:$dark-blue-color;
        color:#fff;
      }
    }

  }
}

.title-area {
    @include grid-column(4);
    height: 50px;
    img {width: 100px;}
}
.nav-area {
    @include grid-column(8);
    height: 50px;
    ul {float: right; line-height: 1rem;}
    li {margin: 1rem}
    a {
        color: white;
        transition: opacity 100ms;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
}

nav.horizontal ul li { display: inline-block; }

div.main-content{
    padding-top: 3rem;
    background-color: #FFF;
}

.page-header-container {
    background-color: $topbar-bg-color;
    padding: 0 0 2rem 0;
    margin-bottom: 2rem;
}

.page-header {@include grid-row();}
.page-header-left {@include grid-column(7);}
.page-header-right {@include grid-column(5); padding-top: 1.5rem;}
.page-header-full {@include grid-column(12);}

.page-header-left, .page-header-full {
    .title {
        margin-bottom: 0;
        color: white;
        font-weight: 100;
    }
    .description {
        color: rgba(255, 255, 255, 0.8);
    }
}




/**
    forms
**/
form{
    legend{
        font-size: 1.5em;
    }
}
div.alert-box{
    @include alert($alert-color);
}
div#error_explanation{
    @include alert($alert-color);
    h2{
        font-size: 1em;
        color: #eee;
    }
}

input[type=text], input[type=email], input[type=password] {
    border-radius: 4px;
    &.large {
        font-size: 1rem;
    }
}

/**
    buttons
**/
.button{
    box-shadow: none;
    transition: none;
    border-radius: $global-radius;
}

.stateful-button {
    padding: 0.5rem;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
    font-weight: normal;
    transition-property: color background-color;
    transition-duration: 75ms;
    border: 1px solid white;
}

.stateful-button--inactive {
    @extend .stateful-button;
    background-color: $topbar-bg-color;
    color: white;
    &:hover {
        background-color: #FFF;
        color: $topbar-bg-color;
    }
}

.stateful-button--active {
    @extend .stateful-button;
    background-color: white;
    color: $topbar-bg-color;
    &:hover {
        background-color: $topbar-bg-color;
        color: white;
    }
}

/**
    elements
**/
.custom-hr {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5em;
}

section {
    @include grid-row();
    & > div {@include grid-column(8, $last-column: true);}
}


/**
  footer
**/
footer{
    @include grid-row();
    border-top: 1px solid rgba(255, 30, 10, 0.2);
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
}