div#top-flash{
    text-align: center;
    background-color: orange;
    div.alert-box{
        margin-bottom: 0px;
    }
}
div.main-content{
}

.page-header {
    @include grid-column(12);
}

.top-bar {
    @include grid-row();
}
.title-area {
    @include grid-column(4);
    height: 50px;
    margin: 1rem 0 !important;
    img {width: 100px;}
}
.nav-area {
    @include grid-column(8);
    height: 50px;
    margin: 1rem 0;
    ul {float: right; line-height: 1rem;}
    li {margin: 1rem}
    a {
        color: white;
        transition: opacity 100ms;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
}

nav.horizontal ul li { display: inline-block; }


/**
    forms
**/
form{
    legend{
        font-size: 1.5em;
    }
}
div.alert-box{
    @include alert($alert-color);
}
div#error_explanation{
    @include alert($alert-color);
    h2{
        font-size: 1em;
        color: #eee;
    }
}

/**
    buttons
**/
.button{
    box-shadow: none;
    transition: none;
}

/**
    elements
**/
.custom-hr {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5em;
}

.course-card {
    @include grid-column(4);
    margin-bottom: 1rem;
    margin-top: 1rem;
    .course-card-image {
        border-radius: 4px;
    }
    .course-card-name {
        margin-top: 1rem;
    }
    .course-card-details {
        list-style: none;
        border-radius: 5px;
        background-color: #F6F6F6;
        border: 1px solid #DCDCDC;
        padding: 0.2rem 0.8rem;
        opacity: 0.8;
        li {
            display: inline-block;
            width: 32%;
            text-align: center;
            font-weight: bold;
            font-size: 0.8rem;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
}


/**
  footer
**/
footer{
    background-color: #fff;
    padding-top: 1em;
    color: lighten($body-font-color, 30%);
    text-align: center;

    div.school-logo{
        background-color: $rpi-red-color;
        padding: .5em 0em;
    }

    p.under-school-logo{
        background-color: $body-bg;
        padding-top: .8em;
    }

}