/**** Utility Classes ****/
/*********
Use with extends instead of in the markup directly when possible
.thingIWantToBold {@extend .bold;}
*********/

.large {font-size: 120%;}
.small {font-size: 60%;}
.medium {font-size: 80%}
.white {color: white !important;}
.black {color: #2d324e !important;}
.grey {color: #999;}
.nobottommargin {margin-bottom: 0 !important;}
.spacer {min-height: 5rem;}
.center {text-align: center;}
.light {font-weight: 100;}
.bold {font-weight: 500;}
.normal {font-weight: normal;}
.upper {text-transform: uppercase;}
.hidden,.reveal-hidden{display:none;}
.visibility-hidden{visibility:hidden;}


$small: "screen and (max-width: 34rem)";
$medium: "screen and (max-width: 50rem)";
$full: "screen and (max-width: 90rem)";


/***************************
 * Global Defaults
 */

/*
 * Default font settings
 */

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1, h2, h3 {
  color: $gina-orange-color;
}

ul{
  margin-bottom: 0em;
}

/***************************/

body {background-color: $footer-color; max-width: 100%; overflow-x: hidden;}

div#top-flash{

  position:fixed;
  text-align:center;
  z-index: 9999;

  width: 100%;
  height:50px;
  line-height:50px;
  overflow-y:hidden;

  div.alert-box{

    @include alert($grapefruit-orange-color);
    padding:0px!important;
    margin:0px!important;

    a#flash-close{
      margin-left: .6em;
      font-weight:bold;
      color:#fff;
    }
    a#flash-close:hover{
      color: #ddd;
    }

  }

  div.alert-box.success{
    @include alert($error-color);
  }

}

.top-bar-container{
  background-color: #fff;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
  div.top-bar {
    height: auto;
    margin-bottom: 0px;
    background-color: transparent;
    @include grid-row;
    ul > li.has-dropdown a::after { /* this should be a configurable variable */
      border-color: lighten($topbar-dropdown-link-color, 20%) transparent transparent transparent;
    }

    ul.right li{
      a.secondary{
        color: darken($grapefruit-orange-color, 20%);
      }
      a.active{
        background-color:$dark-blue-color;
        color:#fff;
      }
    }

  }
}

.mobile-nav {
  display: none;
  @media #{$medium} {
    width: 100%;
    display: block;
    height: 2.5rem;
    position: absolute;
    left:0; right: 0; top: 0.65rem; bottom: 0;
  };
}

.mobile-nav-left {
  @include grid-column(6);
  text-align: left;
}
.mobile-nav-right {
  @include grid-column(6);
  text-align: right;
}

.mobile-nav [class^="icon-"] {
  padding: 1rem;
  background-color: #F8F8F8;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  box-shadow: 0 2px 0 #e9e9e9;
  color: #9B9B9B;
  transition: background-color 100ms;
  &:active {
    // This is the mouse-down event, not "currently shown" state.
    background-color: #FFF;
    transition: background-color 100ms;
  }
  &.active {
    color: black;
    background-color: #F7F7F7;
    box-shadow: 0 -2px 0 #D5D5D5;
    border-top: none;
  }
}


.mobile-sidebar {
  display: none;
  @media #{$medium} {
    display: block;
    position: fixed;
    z-index: 999;
    top: 4rem;
    width: 90%;
    background-color: #F5F5F5;
    overflow-y: scroll;
    &.left {
      left: -100%;
    }
    &.right {
      left: 100%;
    }
  }
}

.mobile-sidebar.right {
  ul.standard-nav {
    list-style: none;
    li {
      font-size: 1.3rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      a {
        padding: 1rem;
        display: block;
        color: $topbar-bg-color;
        text-align: center;
      }
      &:last-child, &:active, &:hover {
        background-color: $topbar-bg-color;
        a { color: white; }
      }
    }
  }
}

.title-area {
    @include grid-column(4);
    height: 50px;
    > a {
      display: inline-block;
      height: 100%;
      object {
        width: 110px;
        pointer-events: none;
      }
    }
    @media #{$medium} {
      @include grid-column(12);
      height: 4rem;
      padding: 0.5rem 0;
      text-align: center;
    }
}
.nav-area {
    @include grid-column(8);
    height: 50px;
    ul {float: right; line-height: 1rem;}
    a {
        padding: 1rem;
        color: $primary-color;
        display: inline-block;
        height: 50px;
        &:hover {
          background-color: lighten($topbar-bg-color, 10%);
          color: white;
        }
    }
    @media #{$medium} {display: none;}
}

nav.horizontal ul li { display: inline-block; }

div.main-content{
    background-color: #FFF;
}

.page-header-container {
    background-color: $topbar-bg-color;
    padding: 1rem 0;
    margin-bottom: 1rem;
    @media #{$medium}{padding: 2rem 0;}
}

.page-header {
  @include grid-row();
  .page-header-title{
    margin-top: 0px;
  }
}
.page-header-left {
  @include grid-column(6);
  @media #{$medium} {@include grid-column(12);}
}
.page-header-right {
  @include grid-column(6);
  padding-top: .5rem;
  text-align: right;
  @media #{$medium} {
    @include grid-column(12);
    text-align: left;
    margin-top: -0.5rem;
  }
}
.page-header-full {@include grid-column(12);}

.page-header-left, .page-header-full {
  .title {
      margin-bottom: 0;
      color: white;
      font-weight: 100;
      a{
        color: white;
      }
  }
  .description {
      color: rgba(255, 255, 255, 0.8);
  }
}




/**
    forms
**/
form{
    legend{
        font-size: 1.5em;
    }
}
div.alert-box{
  @include alert($alert-color);
}
div.alert-box.info{
  @include alert($dark-blue-color);
}
div#error_explanation{
    @include alert($alert-color);
    border-radius: $global-radius;
    h2{
        font-size: 1em;
        color: #fff;
    }
}
div.panel.error{
  background-color: $error-color;
  color: #fff;
  border: 0em;
}


input[type=text], input[type=email], input[type=password] {
    border-radius: 4px;
    &.large {
        font-size: 1rem;
    }
}

/**
    buttons
**/

.button {
    box-shadow: none;
    transition: none;
    border-radius: $global-radius;
}

.button.success{
  color: $primary-color;
  border: 2px solid $primary-color;

  &:hover{
    background-color: $primary-color;
    color: #fff;
  }
}

.stateful-button {
    padding: 0.5rem;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
    font-weight: normal;
    transition-property: color background-color;
    transition-duration: 75ms;
    border: 1px solid white;
}

.stateful-button--inactive {
    @extend .stateful-button;
    background-color: $topbar-bg-color;
    color: white;
    &:hover {
        background-color: #FFF;
        color: $topbar-bg-color;
    }
}

.stateful-button--active {
    @extend .stateful-button;
    background-color: white;
    color: $topbar-bg-color;
    &:hover {
        background-color: $topbar-bg-color;
        color: white;
    }
}

/**
    elements
**/
.custom-hr {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5em;
}

section {
    @include grid-row();
    & > div {@include grid-column(8, $last-column: true);}
    div.admin{
        @include grid-column(6, $offset: 3);
    }
}


/**
    videos
**/
.list-nostyle, .list-nostyle li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.video-wrapper {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.video-texts {
    margin: 0 auto;
    li {
        display: none;
        font-size: .8em;
        text-align: justify;
        list-style: none;
        margin: 0 0 20px 0;
        padding: 0;
        &.show{
            display: block;
        }
    }
    ul {
        margin: 0;
        padding: 0;
    }
}
.video-title {
    text-transform: uppercase;
    color: #555;
    .video-button {
        padding-left: 20px;
        color: #888;
        &:hover {
            color: #D61D05;
        }
    }
}

/**
  footer
**/
footer {
  background-color: $footer-color;
  padding: 1rem 0 1rem 0;

  ul.nav-links {
    text-align: left;
  }

  a {
    color: rgba(255, 255, 255, 0.8);
    transition: color 250ms;
    &:hover { color: white; }
  }
}

.school-logo {
    @include grid-column(3);
    position: relative;
    i {
      color: white;
      font-size: 5rem;
      line-height: .5em;
    }
    @media #{$medium} {
      @include grid-column(12);
      text-align: center;
      margin-top: -1rem;
      margin-bottom: 2rem;
      height: 3rem;
      i {
        position: absolute;
        left: 0; right: 0; bottom: 0; top: 0;
      }

    }
}

.nav-links {
    list-style: none;
    margin-top: 1rem;
    @extend .normal;
    li {
        margin-right: 1rem;
        &:last-child {margin-right: 0;}
    }
    @media #{$medium} {
      text-align: center;
    }
}

.project-description {
    @include grid-column(6);
    color: rgba(255, 255, 255, 0.7);
    p {@extend .light;}
    @media #{$medium} {
      @include grid-column(12);
    }
}

.platform{
  font-size: .8em;
}

.icon-seal {
  font-size: 12rem;
}
a.coal{
  background-color: #333;
  &:hover{
    background-color: #555;
  }
}
