@import "application";

div.main-container{
    background-color: #fff;
}

div.main-content{

    padding-top: 3em;
    min-height: 500px;

    div.logo{
        @include grid-column(12);
        margin-bottom: 2em;
    }

    div.content{
        @include grid-row;
        @include grid-column(12);
    }

    div.landing{

      h2{
        color: #444;
      }

        div.description{
            @include grid-column(8);
            padding-right: 3em;
            background-size: 100%;
            background-position: 0px 0px;
            border-radius: 3px;
            height: 295px;

            p, h2, a{
              color: white;
            }

            h2, p{
              text-shadow: 1px 1px 2px #222;
            }

            a:hover{
              text-decoration: underline;
            }

            p{
              margin-top: 4em;
            }

        }

        div.login{
            @include grid-column(4);
            a.new-user:link, a.new-user:visited{
                width: 100%;
                background-color: $grapefruit-orange-color;
            }
            a.new-user:hover{
                background-color: lighten($grapefruit-orange-color, 10%);
            }
        }

    }

    form.login-form{
        input[type="submit"]{
            margin-bottom: .8em;
        }
        fieldset{
          margin-top: 0px;
        }
    }
    div.login-form-container{
        @include grid-column(5, $center: true);
    }
    div.register{
        @include grid-column(5, $center: true);
    }

}