@import "application";

.top-bar-container {
    background-color: transparent;
    position: relative;
    height: 0;
}

.page-header-container {
    background-image: url('/assets/biotechlargeredcomp.png');
    background-position: 0% 780%;
    background-attachment: fixed;
    background-size: 100%;
    padding: 4rem 0 6rem;
    margin-bottom: 0;
}

.page-header {
    text-align: center;
    h1 {
        font-size: 3.5rem;
        font-weight: normal !important;
    }
}

div.main-content{
    padding-top: 0;
    min-height: 500px;
    div.logo{
        @include grid-column(12);
        margin-bottom: 2em;
    }

    div.content{
        @include grid-row;
        @include grid-column(8, $offset: 2);
        padding-top: 1em;
    }

    form.login-form{
        input[type="submit"]{
            margin-bottom: .8em;
            width: 100%;
            color: white;
            border-radius: 4px;
        }
        fieldset{
          // margin-top: 0px;
          border: none;
        }
    }
    div.login-form-container{
        background-color: #F1F0F0;
        border-radius: 10px;
        border: 20px solid white;
        margin-top: -5rem;
        @include grid-column(3, $center: true);
        padding: 1rem 2rem;
    }
    legend {
        text-align: center;
        background: none;
    }
    div.register{
        @include grid-column(5, $center: true);
    }
}

.register-form-container {
    @extend .login-form-container;
    margin-top: 0 !important;
    border: none;
}