@import "application";

.top-bar-container {
    background-color: #fff;
    position: relative;
  .nav-area {
    a.active{
      background-color: $topbar-bg-color;
      color: #fff;
    }
  }
}

.page-header-container {
    background-image: url(<%= asset_path 'happykids.jpeg' %>);
    background-position: 0% 45%;
    background-size: 100%;
    padding: 4rem 0 10rem;
    margin-bottom: 0;
}

.page-header {
    text-align: center;
    h1 {
        font-size: 3.5rem;
        font-weight: normal !important;
        text-shadow: 1px 1px 3px #222;
    }
}

div.main-content{
    background-color: #555;
    div.logo{
        @include grid-column(12);
        margin-bottom: 2em;
    }

    div.content{
        hr{
          border-color: #aaa;
        }
    }
    div.content{
      padding: 1em 15%;
      @include grid-column(6, $center: true);
      background-color: #eee;
      min-height: 450px;
      margin-bottom: 2em;
      max-width: 28em;
      @media #{$medium}{
        @include grid-column(8, $center: true);
      }
      @media #{$small} {
        @include grid-column (12);
        @include grid-row;
      }
    }
    div.about-for.content h3{
      text-align: left;
    }
    div.changelog.content h6{
      span{
        margin-left: 1em;
        @extend .grey;
      }
    }
    div.landing{
      text-align: center;
      p.description{
        color: $grey-text-color;
      }
      a.login{
        margin-right: 1em;
      }
    }

    .header-container {
      background-image: url(<%= asset_path 'orchard.jpeg' %>);
      background-position: 0% 50%;
      background-size: 100%;
      @media #{$small} {
        background-image: none;
        background-color: #888;
      }
    }

    form.login-form{
        input[type="submit"]{
            margin-bottom: .8em;
            width: 100%;
            border-radius: 4px;
        }
        fieldset{
          border: none;
        }
    }

    div.call-to-action {
      h1 {
        color: white;
      }
    }

    div.login-form-container {
      color: white;
      background:rgba(255,255,255,0.7);
      h4{
        font-weight: strong;
      }
    }
}

.register-form-container {
    @extend .login-form-container;
    margin-top: 0 !important;
    border: none;
}

#prefetch-schools{
  width: 100%;
  p{
    margin-top: .2em;
    margin-bottom: .3em;
  }
  span.twitter-typeahead{
    width: 100%;
  }
}

.tt-input,
.tt-hint {
    width: 100%;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 100%;
    margin-top: -.5em;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
