@import "application";

div#top-flash{
  div.alert-box{
    @include alert(lighten(#0A7790, 10%));
    margin-bottom: 0px;
  }
}

div.non-footer-container{
  background-color:#fff;
}

div.top-bar-container{

  background-color: $topbar-bg-color;

  nav.top-bar{

    margin-bottom: 0px;

    @include grid-row;

    ul > li.has-dropdown a::after { /* this should be a configurable variable */
      border-color: lighten($topbar-dropdown-link-color, 20%) transparent transparent transparent;
    }

    ul.right li{
      a.secondary{
        color: darken($grapefruit-orange-color, 20%);
      }
      a.active{
        background-color:$dark-blue-color;color:#fff;
      }
    }

  }

}

div.main-content{
  margin-top: 1em;
  min-height: 400px;
  nav.breadcrumbs{
    margin-bottom: 1em;
  }
  table.listing{
    width: 50%;
    border-spacing:0;
    border-collapse:collapse;
    padding:0px;
    &.full { width: 100%; }
    th{
      padding-left: 1.5em;
    }
    td{
      padding:0px;
      a, span{
        width: 100%;
        line-height: 2.5em;
        display:inline-block;
        padding-left: 1em;
      }
      span{/* when there are no elements */
        color: $grey-text-color;
      }
    }
    td.center{
      text-align: center;
      border-left: 1px solid #ddd;
    }
  }
  div.landing{
    @include grid-column(6);
  }
}

span.instructing{
  @include label($bg: $success-color, $padding: .4em, $radius: 2px);
  margin-bottom: 1em;
}

form.registration_edit_form{
  @include grid-column(5);
  legend{
    font-size: 1em;font-weight:normal;
  }
  fieldset.highlight{
    border-color: lighten($grapefruit-orange-color, 15%);
  }
}

footer{
  font-size: .8em;
}

.topic,.reply {
  .author {
    border: 1px solid gainsboro;
    background-color: #f6f6f6;
    color: #666;
    padding: 1em;
    line-height: 150%;
    border-right: 0;
    strong {
      color: #222;
    }
  }
  .body {
    border: 1px solid gainsboro;
    padding: 1em;
    min-height: 125px;
    border-bottom: 0;
  }
  &:last-child .body {
    border-bottom: 1px solid gainsboro;
  }
}

textarea.medium {
  height: 150px;
}
textarea.large {
  height: 300px;
}