@import "application";
@import "capsules";
@import "courses";
@import "dashboard";
@import "documents";
@import "lectures";
@import "problem_sets";
@import "replies";
@import "topics";
@import "video_texts";
@import "videos";

div#top-flash{
  div.alert-box{
    @include alert(lighten(#0A7790, 10%));
    margin-bottom: 0px;
  }
}

.nav-area {
  a{
    &:hover {
      border-radius: 0px;
      background-color: lighten($topbar-bg-color, 10%);
    }
  }
  a.active{
    background-color: $topbar-bg-color;
    color: white;
  }
  a.disabled{
    background-color: #fff;
    color: #ccc;
  }
}

div.main-content{
  min-height: 400px;
  overflow: auto;

  section h3{
    margin-top: 1em;
  }

  table.listing{
    width: 50%;
    border-spacing:0;
    border-collapse:collapse;
    padding:0px;
    &.full { width: 100%; }
    th{
      padding-left: 1.5em;
    }
    td{
      padding:0px;
      a, span{
        width: 100%;
        line-height: 2.5em;
        display:inline-block;
        padding-left: 1em;
      }
      span{/* when there are no elements */
        color: $grey-text-color;
      }
    }
    td.center{
      text-align: center;
      border-left: 1px solid #ddd;
    }
  }
}

span.instructing{
  @include label($bg: $success-color, $padding: .4em, $radius: 2px);
  margin-bottom: 1em;
}

form.registration_edit_form{
  @include grid-column(5);
  legend{
    font-size: 1em;font-weight:normal;
  }
  fieldset.highlight{
    border-color: lighten($grapefruit-orange-color, 15%);
  }
}


.topic,.reply {
  .author {
    border: 1px solid gainsboro;
    background-color: #f6f6f6;
    color: #666;
    padding: 1em;
    line-height: 150%;
    border-right: 0;
    strong {
      color: #222;
    }
  }
  .body {
    border: 1px solid gainsboro;
    padding: 1em;
    min-height: 125px;
    border-bottom: 0;
  }
  &:last-child .body {
    border-bottom: 1px solid gainsboro;
  }
}

textarea.medium {
  height: 150px;
}
textarea.large {
  height: 300px;
}