div.submission{

  border: 2px solid #ccc;
  border-radius: 5px;
  padding: .8em;
  margin-bottom: .5em;

  div.top-info{
    color: #999;
  }
  span.number{
    font-size: 1.2em;
    font-weight: bold;
    color: #1e1e1e;
  }
  p{
    margin: .5em 1em .5em 1em;
    font-size: 1.1em;
  }

}
