// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

iframe.mediasite-video{
  height: 500px;
  width: 100%;
}

/* turn off the lights for videos */
h5.video-title.dark{
  color: #fff;
}
a.video-action.dark{
  &:link, &:visited{
    background-color: #333;
    color: #fff;
  }
  &:hover{
    background-color: #555;
  }
}