<p>Hello <%= @resource.display_identifier %>!</p>

<p>Someone has requested a link to change your password. You can do so through this link:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't request this, please ignore this email
  (your password won't change unless you access the link above and create a new one).</p>

<p>Thanks and happy learning,</p>

<p><strong><%= Settings.gmail.from_name %></strong></p>
<p>P.S. - if you're having any problems resetting your password, just reply to this email and let us know.</p>
