<% content_for :home_content do %>
<div class="page-header-container">
  <div class="page-header">
    <div class="page-header-left">
      <h2 class="title"><%= link_to @course.name, course_path(@course) %></h2>
      <% if @course.instructor == current_user %>
        <p class="description">Instructor</p>
      <% end %>
    </div>
    <div class="page-header-right">
      <ul class="course-details">
        <li class="course-details-number"><%= @course.subject %> <%= @course.course_number %> <h6>COURSE NUMBER</h6></li>
        <li class="course-details-seats"><%= @course.seats_left %> <h6>SEATS</h6></li>
        <li class="course-details-credits"><%= @course.credits %> <h6>CREDITS</h6></li>
      </ul>

      <ul class="course-actions">

        <% if can? :read, @course %>
          <li><%= link_to "Discussion", course_topics_path(@course), class: "button small" %></li>
        <% end %>

         <% if can? :manage, @course %>
          <li><%= link_to "Students", course_students_path(@course), class: "button small"%></li>
          <li><%= link_to "Stats", course_stats_path(@course), class: "button small"%></li>
          <li><%= link_to "Content Manager", course_manage_path(@course), class: "button small bold" %></li>
          <li><%= link_to "Assignments & Grading", course_assignments_path(@course), class: "button small bold" %></li>
        <% end %>

        <% if not can? :manage, @course %>
          <li><%= link_to "Assignments", course_assignments_path(@course), class: "button small bold" %></li>
        <% end %>

      </ul>
    </div>
  </div>
</div>

<% if (can? :manage, @course) && !@hide_sidebar && params[:action] == "show" %>

  <div class="instructor-edit-notify">
      <p class="description">
        This is what the student sees! You can
        <% if !@lecture.blank? %>
          <%= link_to "edit this lecture",
            edit_course_capsule_lecture_path(@course, @capsule, @lecture) %>
        <% elsif !@capsule.blank? %>
          <%= link_to "edit this capsule",
            edit_course_capsule_path(@course, @capsule) %>
        <% else %>
          <%= link_to "edit the course",
            edit_course_path(@course) %>
        <% end %>
        in the <%= link_to "Content Manager", course_manage_path(@course) %>.
      </p>
  </div>

<% end %>


<section class="course">
  <% if @hide_sidebar.present? %>
    <%= yield %>
  <% else %>
    <aside>
      <% if can? :manage, @course %>
        <%= link_to "Content Manager".html_safe, course_manage_path(@course),
          class: "button coal back" %>
      <% end %>


      <ul class="course-capsule-list">
        <%= render @capsules %>
        <% if @capsules.empty? %>
          <li class="grey">No capsules found.</li>
        <% end %>
      </ul>

    </aside>

    <div class="workplace">
      <%= yield %>
    </div>
  <% end %>
</section>

<% end %>
<% content_for :left_sidebar do %>
<ul class="course-capsule-list course-accordion--mobile">
  <%= render @capsules %>
</ul>
<% end %><%= render template: 'layouts/home' %>
